#error{
    position:absolute;
    display:hidden;
    top:160px;
    left:50%;
    width:500px;
    height:auto;
    margin-left:-250px;
    background-color:white;
    z-index:6;
    padding:20px;
    border:solid 5px #333333;
    border-radius:5px;
}
#error h1{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#3F5C9A;
    border-bottom:1px #3F5C9A solid;
    margin:0;
    padding:0;
}
#error h3{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#666666;
    margin:0;
    padding:5px 0;
    text-align:left;
}
#error p{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#666666;
    margin:0;
    padding:5px;
    text-align:justify;
}
#error a{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#666666;
    margin:0;
    padding:5px;
    text-align:right;
    float:right;
}
#overlay-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 560%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5;
    display: none
}
.close-image{
    display: block;
    float:right;
    position:relative;
    top:-15px;
    right: -15px;
    height: 20px;
}
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:550px;
    border:1px solid #bbb;
    margin:5px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:5px;

}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.userImage img {
    width:100%;
    border-radius:100%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
/*    padding:10px;*/
}